@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto';
  font-weight: 300;
  border-top: 0.1px solid transparent;
  margin: 0;
  padding: 0;
  color: #303030;
  overflow-x: hidden;
  height: 100vh;
  min-height: 600px;
  position: relative; }
  @media screen and (max-width: 900px) {
    body {
      background-color: #271e3b; } }

a {
  color: #303030; }
  a:hover {
    text-decoration: none; }

header {
  width: 40%;
  float: left;
  position: relative;
  height: 100vh;
  padding: 48px 24px 24px 48px;
  min-height: 600px; }
  header:before {
    display: block;
    content: " ";
    position: absolute;
    background: #271e3b;
    top: 0;
    width: 150vw;
    height: 100%;
    right: 0;
    transform: skewX(-7.5deg);
    z-index: 10; }
    @media screen and (min-height: 605px) {
      header:before {
        transform: skewX(-7.5deg) translateX(-2vh); } }
  @media screen and (max-width: 900px) {
    header {
      width: 100%;
      float: none;
      background-color: #271e3b;
      height: auto;
      min-height: 0;
      text-align: center; }
      header:before {
        display: none; } }
  @media screen and (max-width: 600px) {
    header {
      padding: 1em; } }

main {
  width: 60%;
  float: right; }
  @media screen and (max-width: 900px) {
    main {
      width: 100%;
      float: none; } }

h1 {
  font-size: 3em;
  color: #f15a5d;
  font-weight: 300;
  margin-top: 0;
  z-index: 20;
  position: relative; }
  @media screen and (max-width: 900px) {
    h1 {
      color: #f15a5d;
      font-weight: 500; } }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.5em; } }

h2 {
  font-size: 1.375em;
  font-weight: 300;
  z-index: 20;
  position: relative;
  color: white; }
  @media screen and (max-width: 600px) {
    h2 {
      font-size: 0.875em; } }

.colours-container {
  overflow: hidden; }
  .colours-container > div {
    background-image: -moz-linear-gradient(45deg, #ccc 25%, transparent 25%), -moz-linear-gradient(-45deg, #ccc 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #ccc 75%), -moz-linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #ccc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #ccc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #ccc)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #ccc));
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-background-size: 50px 51px;
    /* override value for shitty webkit */
    background-position: 0 0, 25px 0, 25px -25px, 0px 25px;
    width: 52%;
    float: left;
    position: relative;
    text-align: center;
    padding: 48px 0;
    transform: skewX(-7.5deg); }
    .colours-container > div:last-child {
      margin-right: -4%; }
    .colours-container > div > div {
      transform: skewX(7.5deg);
      background: white;
      width: 12em;
      padding: 1em;
      margin: 0 auto; }
      .colours-container > div > div label {
        font-weight: 500;
        display: block;
        margin-bottom: 0.8em;
        text-transform: uppercase; }
      .colours-container > div > div input {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #303030;
        font-size: 1.5em;
        font-family: "Monaco", Courier, monospace;
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0; }
        .colours-container > div > div input:focus {
          outline: none; }
    @media screen and (max-width: 900px) {
      .colours-container > div {
        width: 60%;
        margin-left: -10%; }
        .colours-container > div:last-child {
          margin-right: -10%;
          margin-left: 0; }
        .colours-container > div > div {
          position: relative;
          left: 5%; }
        .colours-container > div:last-child > div {
          left: auto;
          right: 5%; } }
    @media screen and (max-width: 600px) {
      .colours-container > div > div {
        width: 8em;
        padding: 0.5em; }
        .colours-container > div > div label {
          font-size: 0.7em; }
        .colours-container > div > div input {
          font-size: 1em; } }

footer {
  position: absolute;
  width: 30%;
  bottom: 24px;
  left: 48px;
  z-index: 20;
  color: white; }
  footer .rj-logo {
    max-width: 50%; }
    footer .rj-logo path, footer .rj-logo polygon {
      fill: white; }
    footer .rj-logo #logotype path {
      fill: #f15a5d; }
  footer a {
    color: white; }
  @media screen and (max-width: 900px) {
    footer {
      position: static;
      width: 100%;
      padding: 3em;
      text-align: center; }
      footer .rj-logo {
        width: 20em;
        max-width: 60%; } }
  @media screen and (max-width: 600px) {
    footer {
      padding: 1em;
      font-size: 0.875em; } }

.result-container {
  transform: skewX(-7.5deg);
  width: 90%;
  margin: 0 auto;
  background: #303030; }
  @media screen and (max-width: 900px) {
    .result-container {
      width: 100%;
      transform: none; } }

.result {
  font-family: "Monaco", Courier, monospace;
  transform: skewX(7.5deg);
  clear: both;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 0.875em;
  padding: 1em 0.8em;
  margin-top: 3em;
  word-wrap: break-word;
  line-height: 2; }
  @media screen and (max-width: 900px) {
    .result {
      transform: none;
      margin: 0; } }
